<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{% block title %}MATADOR{% endblock %}</title>
	<!-- {% block css %}<link href="http://matador.embl.de/media/matador.css" rel="stylesheet" type="text/css">{% endblock %} -->
</head>
<body {% block onload %}{% endblock %}>
    {% block matador_image %}{% endblock %}
    {% block header %}
	{% endblock %}
    <div id="content">
        {% block content %}{% endblock %}
    </div>

</body>
</html>
